@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VTA Shop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Asset/css/elegant-icons.css" rel="stylesheet" />
    <link href="~/Asset/css/all.css" rel="stylesheet" />
    <link href="~/Asset/css/base.css" rel="stylesheet" />
    <link href="~/Asset/css/style-admin.css" rel="stylesheet" />
</head>

<body class="d-flex justify-content-center">
    <center>
        <label class="Login-label">VTA Shop</label>
    </center>
    <div class="login-container shadow" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #F8F8F8">
        <div class="login-head">
            <p class="text-center">đổi mật khẩu</p>
        </div>
        <div class="login-body">
            @using (Html.BeginForm())
            {
                <div class="row mb-4">
                    <div class="col-12 col-md-3">
                        <h6>Old</h6>
                    </div>
                    <div class="col-12 col-md-9">
                        <input class="login-input" name="passold" placeholder="Nhập mật khẩu cũ" type="text" required>
                        @ViewData["1"]
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12 col-md-3">
                        <h6>New</h6>
                    </div>
                    <div class="col-12 col-md-9">
                        <input class="login-input" name="passnew" placeholder="Nhập mật khẩu mới" type="password" required>
                        @ViewData["2"]
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 col-md-3">
                        <h6>Confirm</h6>
                    </div>
                    <div class="col-12 col-md-9">
                        <input class="login-input" name="passagain" placeholder="Xác nhận mật khẩu" type="password" required>
                        @ViewData["3"]
                    </div>
                </div>
                <input type="submit" class="btn btn-secondary login-btn" value="Xác nhận" />
            }
            <a href="@Url.Action("Statistical","Statistical")" style="color:black;font-weight:bold;margin-top:20px">Trở về</a>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Asset/js/admin.js"></script>
</body>

</html>