
@{
    ViewBag.Title = "Shop_Layout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link href="~/Asset/css/drop.css" rel="stylesheet" />

</head>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <div class="breadcrumb__links">
                        <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                        <span>Cửa Hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input type="text" placeholder="Tìm Kiếm...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Phân Loại</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                @Html.Action("ProductCategory", "Category")

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Tìm Theo Mức Giá</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="@Url.Action("FilteredProductPriceList0To100", "Category")">0 VNĐ - 100.000 VNĐ</a></li>
                                                <li><a href="@Url.Action("FilteredProductPriceList100To250", "Category")">100.000 VNĐ - 250.000 VNĐ</a></li>
                                                <li><a href="@Url.Action("FilteredProductPriceList250To500", "Category")">250.000 VNĐ - 500.000 VNĐ</a></li>
                                                <li><a href="@Url.Action("FilteredProductPriceListOver500", "Category")">500.000 VNĐ Trở Lên</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                @*<p>Showing 1–12 of 126 results</p>*@
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <div class="dropdown">
                                    <button onclick="myFunction()" class="dropbtn">Sort by Price</button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="@Url.Action("SortProduct","Category",new { kieuSapXep = "tangdan"})">Low To High</a>
                                        <a href="@Url.Action("SortProduct","Category",new { kieuSapXep = "giamdan"})">High To Low</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @RenderBody()
                    @*@Html.Action("ProductList", "Category")*@
                </div>
                @*cuon trang*@
                @*<div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <script>function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }</script>
</section>
<!-- Shop Section End -->
