@model DACN.Models.KHACH_HANG
@{
    ViewBag.Title = "AccountInformation";
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Account Information</h2>
                @*@{ DACN.Models.KHACH_HANG customer = (DACN.Models.KHACH_HANG)HttpContext.Current.Session["user"]; }*@
                @using (Html.BeginForm())
                {
                    @Html.ValidationSummary(true)
                    <br />
                    <div style="color:green">
                        <h6>@ViewData["Info"]</h6>
                    </div>
                    <div style="color:red">
                        <h6>@ViewBag.Error</h6>
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="name" placeholder="Your Name" value="@Model.HoTenKH" required />
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" placeholder="Your Email" value="@Model.EmailKH" required />
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-phone"></i></label>
                        <input type="text" name="phone" placeholder="Phone Number" value="@Model.SdtKH" required />
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account-box "></i></label>
                        <input type="text" name="address" placeholder="Address"value="@Model.DiaChiKH" required />
                    </div>
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="oldpass" placeholder="Mật khẩu củ"  />
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="newpass" placeholder="Mật khẩu mới"  />
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="renewpass" placeholder="Nhập lại mật khẩu mới"  />
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" class="form-submit" value="Sumbit" />
                    </div>
                }
            </div>
            <div class="signup-image">
                <figure><img src="~/Asset/signin_signup/images/signup-image.jpg" alt="sing up image"></figure>
                <a href="@Url.Action("Index","Home")" class="signup-image-link">Home</a>
            </div>
        </div>
    </div>
</section>


