@model DACN.Models.SAN_PHAM

@{
    ViewBag.Title = "DeleteProduct";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Xóa sản phẩm</h1>

    <div class="card mb-4">
        <div class="card-body">
            <div class="table-Edit table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <td>
                                @Html.DisplayFor(model => model.TenSP)
                            </td>
                        </tr>
                        <tr>
                            <th>Giá sản phẩm</th>
                            <td>
                                @Html.DisplayFor(model => model.Gia)
                            </td>
                        </tr>
                        <tr>
                            <th>Hình</th>
                            <td>
                            
                                <img class="img-thumbnail" src="~/Asset/img/product/@Html.DisplayFor(modelItem => Model.HinhAnh)"/>
                            </td>
                        </tr>
                        <tr>
                            <th>Ngày tạo</th>
                            <td>
                                @Html.DisplayFor(model => model.NgayThem)
                            </td>
                        </tr>
                        <tr>
                            <th>Ngày cập nhật</th>
                            <td>
                                @Html.DisplayFor(model => model.NgayCapNhat)
                            </td>
                        </tr>
                        <tr>
                            <th>Mô tả</th>
                            <td>
                                @Html.DisplayFor(model => model.MoTa)
                            </td>
                        </tr>
                      
                        @*<tr>
                            <th>Trạng thái</th>
                            @if (Model.StatusProduct == 1)
                            {
                                <td>Còn hhàng</td>
                            }
                            else if (Model.StatusProduct == 0)
                            {
                                <td>Hết hàng</td>
                            }
                        </tr>*@
                        <tr>
                            <th>Loại</th>
                            <td>
                                @Html.DisplayFor(model => model.LOAI_SAN_PHAM.TenLSP)
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn-fluid btn btn-outline-success" value="Xác nhận"/>
        }
    </div>
    <a class="btn btn-outline-dark" href="@Url.Action("Product","Manage")">Trở về</a>


</div>