@model IEnumerable<DACN.Models.CT_SANPHAM>

@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";

}

<div class="container-fluid px-4">
    <h1 class="my-4">Chi tiết sản phẩm</h1>
    <div class="mb-3">
        @Html.ActionLink("Thêm size cho sản phẩm", "AddProductDetailSize", new { @class = "btn btn - success" })
    </div>
    <div class="row">       
        <div class="col-xl-12">
            <table class="table">
                <thead class="thead-light"> 
                    <tr>
                        <th scope="col">Mã sản phẩm</th>
                        <th scope="col">Loại sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.MaSP</td>
                            <td>@item.SIZE.TenSize</td>
                            <td>@item.SoLuong</td>
                            <td>
                                @Html.ActionLink("Delete", "DeleteProductDetail", new { id = item.MaSP, size = item.MaSize }, new { @class = "btn btn-warning w-75" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a class="btn btn-outline-dark" href="@Url.Action("Product","Manage")">Trở về</a>
        </div>
    </div>

</div>