@*@model DoAn_Web_SellClothes.Models.InvoiceDetail*@
@model IEnumerable<DACN.Models.CT_DONHANG>
@{
    ViewBag.Title = "DetailReceipt";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";

    var hd = ViewBag.ma;
}


<div class="container-fluid px-4 mt-5 row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h1>VTA SHop</h1>
                    <div>
                        <h2>Hóa đơn #<span>@hd.MaDH</span></h2>
                        <p>Ngày lập: <span>@hd.NgayLap.ToString()</span></p>
                    </div>
                </div>
                <hr />
                <div class="formto d-flex justify-content-between">
                    <div>
                        <h4>Từ:</h4>
                        <p>VTA Shop</p>
                        <p>Long Thạnh Mỹ, Quận 9</p>
                        <p>Thành phố Hồ Chí Minh</p>
                    </div>
                    <div>
                        <h4>Đến:</h4>
                        <p>@hd.TenNguoiNhan</p>
                        @*<p>@hd.InvoicePhoneReceiver</p>*@
                        <p>@hd.DiaChiNhanHang</p>
                    </div>
                </div>
                <div>
                    <h4>Ghi chú:</h4>
                    @*<p>@hd.NoteInvoice</p>*@
                </div>

                <hr />
                <table class="table table-borderless">
                    <thead class="thead-dark">
                        <tr>
                            <th> Tên sản phẩm</th>
                            <th> Size </th>
                            <th> Số lượng</th>
                            <th> Giá </th>
                            <th>Tổng tiền</th>
                        </tr>

                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CT_SANPHAM.SAN_PHAM.TenSP</td>
                                <td>@item.CT_SANPHAM.SIZE.TenSize</td>
                                <td>@item.SoLuong</td>
                                <td>@String.Format("{0:0,0 }", item.ThanhTien)<span>VNĐ</span></td>
                                <td>@String.Format("{0:0,0 }", item.CT_SANPHAM.SAN_PHAM.Gia * item.SoLuong)<span>VNĐ</span></td>
                            </tr>
                        }
                        <tr>
                            <td>Phí ship</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>@String.Format("{0:0,0 }", 25000)<span>VNĐ</span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" align="right"><b>Tổng tiền</b></td>
                            <td>@*@String.Format("{0:0,0 }", @hd.TotalInvoice)*@<span>VNĐ</span></td>
                        </tr>
                    </tfoot>
                </table>
                <hr />
                <p>
                    Phương thức thanh toán: <span>
                        @if (@hd.MaPTTT == 1)
                        {


                            <td>Thanh toán bằng tiền mặt</td>
                        }
                        else
                        {
                            <td>Thanh toán qua Momo</td>
                        }

                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="col-xl-4" id="groupBtnStatus">
        <div class="card">
            <div class="card-body d-xl-flex flex-column justify-content-between">
                @if (@hd.TrangThaiGiaoHang == true && @hd.TrangThaiDonHang == true)
                {
                    <a class="btn btn-warning mb-xl-2" href="@Url.Action("CloseInvoice","Manage", new {id = @hd.MaDH, TrangThai = false})">Hủy đơn hàng</a>
                    <a class="btn btn-warning mb-xl-2" href="@Url.Action("Chugiao","Manage", new {id = @hd.MaDH, TrangThai = false})">Hủy thanh toán</a>
                }
                else if (@hd.TrangThaiGiaoHang ==true && @hd.TrangThaiDonHang == false)
                {
                    <a class="btn btn-success mb-xl-2" href="@Url.Action("ConfilmInvoice","Manage", new {id = @hd.MaDH, TrangThai = true})">Xác nhận đơn hàng</a>
                    <a class="btn btn-warning mb-xl-2" href="@Url.Action("Chugiao","Manage", new {id = @hd.MaDH, TrangThai = false})">Hủy thanh toán</a>
                }
                else if (@hd.TrangThaiGiaoHang == false && @hd.TrangThaiDonHang ==true)
                {
                    <a class="btn btn-warning mb-xl-2" href="@Url.Action("CloseInvoice","Manage", new {id = @hd.MaDH, TrangThai = false})">Hủy đơn hàng</a>
                    <a class="btn btn-success mb-xl-2" href="@Url.Action("Dagiao","Manage", new {id = @hd.MaDH, TrangThai = true})">Thanh toán</a>
                }
                else
                {
                    <a class="btn btn-success mb-xl-2" href="@Url.Action("ConfilmInvoice","Manage", new {id = @hd.MaDH, TrangThai = true})">Xác nhận đơn hàng</a>
                    <a class="btn btn-success mb-xl-2" href="@Url.Action("Dagiao","Manage", new {id = @hd.MaDH, TrangThai = true})">Thanh toán</a>
                }
                <button id="btnPrintBill" class="btn btn-info mb-xl-2">In hóa đơn</button>
                <a class="btn btn-outline-dark" href="@Url.Action("Receipt","Manage")">Trở về</a>
            </div>
        </div>
    </div>
</div>

