@model DACN.Models.SAN_PHAM
@{
    ViewBag.Title = "DetailProducts";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Chi tiết sản phẩm</h1>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-Edit table-responsive">
                <div class="row">

                </div>
                <table class="table">                   
                    <tbody>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <td>
                                @Html.DisplayFor(model => model.TenSP)
                            </td>
                        </tr>
                        <tr>
                            <th>Hình</th>
                            <td>
                                <img src="~/Asset/img/product/@Html.DisplayFor(model => model.HinhAnh)" class="img-thumbnail" alt="Alternate Text" />
                            </td>
                        </tr>
                        <tr>
                            <th>Giá</th>
                            <td>
                                @String.Format("{0:0,0 }", Model.Gia)<span>VNĐ</span>
                            </td>
                        </tr>
                        <tr>
                            <th>Ngày tạo</th>                            
                            <td>@String.Format("{0:dd/MM/yyyy}", @Html.DisplayFor(model => model.NgayThem))</td>
                        </tr>
                        <tr>
                            <th>Ngày cập nhật</th>
                            <td>
                                @Html.DisplayFor(model => model.NgayCapNhat)
                            </td>
                        </tr>
                        <tr>
                            <th>Mô tả</th>
                            <td>
                                <p>@Html.DisplayFor(model => model.MoTa)</p>
                            </td>
                        </tr>
                        <tr>
                            <th>Loại</th>
                            <td>
                                @Html.DisplayFor(model => model.LOAI_SAN_PHAM.TenLSP)
                            </td>
                        </tr>
                        <tr>
                            <th>Trạng thái</th>
                            @if (@Model.TrangThai == true)
                            {
                                <td>Còn hàng</td>
                            }
                            else if (Model.TrangThai == false)
                            {
                                <td>Hết hàng</td>
                            }

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a class="btn btn-outline-dark" href="@Url.Action("Product","Manage")">Trở về</a>
</div>

