@model IEnumerable<DACN.Models.NHAN_VIEN>
@{
    ViewBag.Title = "nhanvien";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý Nhân viên</h1>
    <div class="mb-3">
        <a class="btn btn-success" href="@Url.Action("addnhanvien","Manage")">Thêm nhân viên</a>
        <a class="btn btn-danger" href="@Url.Action("nhanviendaxoa","Manage")">Nhân viên đã bị xóa</a>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Nhân viên
        </div>
        <div class="card-body">
            <table id="datatablesInvoice" class="table-responsive">
                <thead>
                    <tr>
                        <th>Tài khoản nhân viên</th>
                        <th>Họ tên nhân viên</th>
                        @*<th>Chức vụ</th>*@
                        <th>Mật khẩu</th>
                        <th>Ngày lập</th>
                            @*<th>Ngày lập</th>*@
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.TaiKhoanNV)</td>
                            <td>@Html.DisplayFor(modelItem => item.HoTenNV)</td>
                            @*<td>@Html.DisplayFor(modelItem => item.CHUC_VU.TenCV)</td>*@
                            <td>@Html.DisplayFor(modelItem => item.MatKhau)</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.NgayVaoLam)</td>
                            <td>
                                @Html.ActionLink("Xóa nhân viên", "DeleteNhanVien", new { id = item.TaiKhoanNV }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
