@model IEnumerable<DACN.Models.DON_HANG>
@{
    ViewBag.Title = "Receipt";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<div class="container-fluid px-4">
    <h1 class="my-4">Quản lý hóa đơn</h1>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Hóa đơn
        </div>
        <div class="card-body">
            <table id="datatablesInvoice" class="table-responsive">
                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Khách hàng</th>
                        <th>Địa chỉ nhận hàng</th>
                        <th>Số điện thoại người nhận</th>
                        <th>Ngày lập</th>
                        <th>Tổng hóa đơn</th>
                        <th>Phương thức thanh toán</th>
                        <th>Trạng thái hóa đơn</th>
                        <th>Trạng thái thanh toán</th>
                        <th>Lưu ý</th>
                        <th>&nbsp;</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.MaDH)</td>
                            <td>@Html.DisplayFor(modelItem => item.KHACH_HANG.HoTenKH)</td>
                            <td>@Html.DisplayFor(modelItem => item.DiaChiNhanHang)</td>
                            <td>@Html.DisplayFor(modelItem => item.TenNguoiNhan)</td>
                            <td>@String.Format("{0:dd/MM/yyyy}", item.NgayLap)</td>
                            <td>@String.Format("{0:0,0 }", item.TongTien)<span>VNĐ</span></td>
                            <td>@Html.DisplayFor(modelItem => item.PHUONG_THUC_THANH_TOAN.TenPTTT)</td>
                            @if (item.TrangThaiDonHang == true)
                            {
                                <td>Đã xác nhận</td>
                            }
                            else
                            {
                                <td>Chưa xác nhận</td>
                            }
                            @if (@item.TrangThaiGiaoHang == true)
                            {
                                <td>Đã thanh toán</td>
                            }
                            else
                            {
                                <td>Chưa thanh toán</td>
                            }
                            <td>@Html.DisplayFor(modelItem => item.GhiChu)</td>
                            <td>
                                @Html.ActionLink("Detail", "DetailReceipt", new { id = item.MaDH }, new { @class = "btn btn-info" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



