@using DACN.Models
@model List<GioHang>
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <div class="breadcrumb__links">
                        <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                        <a href="@Url.Action("Shop","Home")">Cửa Hàng</a>
                        <span>Giỏ Hàng</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Sản Phẩm</th>
                                <th>Số Lượng</th>
                                <th>Size</th>
                                <th>Tổng</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img style="width: 70px; height: 70px" src="~/Asset/img/product/@item.iImageProduct" alt="Hình Ảnh Sản Phẩm">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>@item.iNameProduct</h6>
                                        <h5>@String.Format("{0:0,0}", item.iPriceProduct) VNĐ</h5>
                                    </div>
                                </td>
                                @using (Html.BeginForm("UpdateItemInCart", "Cart", new { @iProductId = item.iIdProduct }))
                                {
                                    @*<td class="product-quantity">
                <input type="number" name="quantity1" class="quantity-input" value="@item.iQuantityProduct" min="1" max="@item.iMaxAmount">
            </td>*@
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input id="SoLuong" type="number" name="quantity1" min="1" value="@item.iQuantityProduct">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        @item.iSizeProduct
                                    </td>
                                    <td class="cart__price">@String.Format("{0:0,0}", item.iThanhTien) VNĐ</td>
                                    <td>
                                        <button style="border-radius: 12px; background-color: gray; border: 2px solid gray;" type="submit"><span style="color: white">Cập nhật</span></button>
                                    </td>
                                }
                                <td>
                                    <form action="@Url.Action("RemoveItemInCart","Cart", new {id = @item.iIdProduct})">
                                        <input type="hidden" name="size" value="@item.iSizeProduct" />
                                        <button style="border-radius: 12px; background-color: gray; border: 2px solid gray;" type="submit"><span style="color: white">Xóa</span></button>
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="btn btn-outline-danger">
                            <a href="@Url.Action("Shop","Home")">Tiếp Tục Mua Sắm</a>
                        </div>
                    </div>
                    @*<div class="col-lg-6 col-md-6 col-sm-6">
                <div class="continue__btn update__btn">
                    <a href="#"><i class="fa fa-spinner"></i>Cập Nhật Giỏ Hàng</a>
                </div>
            </div>*@
                </div>
                <div class="my-4 px-3">
                    <a href="@Url.Action("RemoveCart","Cart")">Clear Cart</a>
                </div>
            </div>
            <div class="col-lg-4">
                @*<div class="cart__discount">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Coupon code">
                        <button type="submit">Apply</button>
                    </form>
                </div>*@
                <div class="cart__total">
                    <h6>Tổng Giỏ Hàng</h6>
                    <ul>
                        @*<li>Subtotal <span>$ 169.50</span></li>*@
                        <li>Số Lượng <span>@String.Format("{0:0,0}", ViewBag.TongSoLuong)</span></li>
                        <li>Tổng <span>@String.Format("{0:0,0}", ViewBag.TongTien) VNĐ</span></li>
                    </ul>
                    <a href="@Url.Action("CheckOut","Cart")" class="primary-btn">Tiến Hành Thanh Toán</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->
