@using DACN.Models
@model List<GioHang>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Thanh Toán</h4>
                    <div class="breadcrumb__links">
                        <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                        <a href="@Url.Action("Shop","Home")">Cửa Hàng</a>
                        <span>Thanh Toán</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Checkout Section Begin -->
@using (Html.BeginForm())
{
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <h6 class="checkout__title">Billing Details</h6>
                            @if (Session["user"] == null)
                            {
                                <div class="checkout__input">
                                    <p>Name<span>*</span></p>
                                    <input type="text" name="ten" required>
                                </div><div class="checkout__input">
                                    <p>Address<span>*</span></p>
                                    <input type="text" name="diachi" placeholder="Street Address" class="checkout__input__add" required>
                                </div>
                                <div class="checkout__input">
                                    <p>Phone<span>*</span></p>
                                    <input type="number" name="sdt" maxlength="10" required>
                                </div>
                                <div class="checkout__input">
                                    <p>Order notes<span></span></p>
                                    <input type="text" name="ghichu"
                                           placeholder="Notes">
                                </div>

                            }
                            else
                            {
                                <div class="row mb-4">
                                    <div class="form__group col-12">
                                        <label for="billing_name">
                                            Tên khách hàng
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text" name="billing_name" id="billing_name" value="@Session["name"]" required>
                                    </div>
                                </div>
                                <!--Địa chỉ-->
                                <div class="row mb-4">
                                    <div class="form__group col-12">
                                        <label for="billing_state">
                                            Địa chỉ
                                            <span class="required">*</span>
                                        </label>
                                        <input type="text" name="billing_address" id="billing_address" value="@Session["address"]" required>
                                    </div>
                                </div>
                                <!--Phone-->
                                <div class="row mb-4">
                                    <div class="form__group col-12">
                                        <label for="billing_phone">
                                            Số điện thoại <span class="required">*</span>
                                        </label>
                                        <input type="text" name="billing_phone" id="billing_phone" value="@Session["phone"]" required>
                                    </div>
                                </div>
                                <!--Ghi chú cho đơn hàng-->
                                <div class="row mb-4">
                                    <div class="form__group col-12">
                                        <label for="billing_note">
                                            Ghi chú:
                                            <span class="required"></span>
                                        </label>
                                        <input type="text" name="billing_note" id="billing_note">
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4 class="order__title">Your order</h4>
                                <div class="checkout__order__products">Product<span>Total</span> <span style="margin-right:100px">Quality</span></div>
                                @foreach (var item in Model)
                                {
                                    <ul class="checkout__total__products">
                                        <li>@item.iNameProduct<b style="margin-left:20px">@item.iQuantityProduct</b> <span> @String.Format("{0:0,0}", @item.iThanhTien) VND</span></li>
                                    </ul>
                                }
                                <ul class="checkout__total__all">
                                    <li>Total <span>@String.Format("{0:0,0}", ViewBag.TongTien) VND</span></li>
                                </ul>
                                <h6> @Html.RadioButton("Payment", "Thanh toán khi nhận hàng", checked(true))  Thanh toán khi nhận hàng !</h6>
                                <h6> @Html.RadioButton("Payment", "Momo", checked(true))  Thanh toán qua Momo !</h6>
                                <h6> @Html.RadioButton("Payment", "Ví VNPAY", checked(true))  Thanh toán qua ví VNPAY!</h6>
                                <br />
                                <div style="padding:0 40px 10px"> <button type="submit" class="btn btn-light">Thanh toán </button></div>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- Checkout Section End -->

}